header.header
    .column.left
        a(href=routes.home)
            i.fab.fa-youtube
    .column
        form(action=routes.search, method="get")
            input(type="text", name="term", placeholder="Search by term...")
    .column.right
        ul
            if !user.isAuthenticated
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) Login
            else
                li
                    a(href=routes.videos+routes.upload) Upload
                li
                    a(href=routes.userDetail(user.id)) Profile
                li
                    a(href=routes.logout) Log Out