extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="text", name="nam", placeholder="Full Name" required=true)
            input(type="email", name="eml", placeholder="email" required=true)
            input(type="password", name="pwd", placeholder="password" required=true)
            input(type="password", name="pwdChk", placeholder="Verify password" required=true)
            input(type="submit", value="Join Now")
        include ./partials/snsLogin